.postContent {
    padding: 20px;
    width: 90%;
    margin: 20px auto;
    height: 80px;
    border: 2px solid transparent;
    border-image: linear-gradient(345deg,rgba(50,104,168,1) 0%,  rgba(105,200,215,1) 36%, rgba(35,254,225,1) 98%);
    border-image-slice: 1;
    background-color: rgb(243, 246, 247);
    margin-bottom: 0px;
}