.statistic {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.bgstat {
    padding: 20px;
}

.following {
    box-shadow: 6px 0px 5px -5px rgba(34, 60, 80, 0.362) inset;
    padding: 20px 20px 20px 65px;
}
.empathy {
    box-shadow: 6px 0px 5px -5px rgba(34, 60, 80, 0.362) inset;
    padding: 20px 20px 20px 65px;
}