.userpic {
    width: 200px;
    display: flex;
    margin: 0 auto;
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.888);
}

.userName {
    margin-top: 20px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.name {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
}

.login {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.541);
}

.birthsday {
    padding: 5px 0px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.81);
}
.bd {
    font-weight: 600;
}

.lane {
    margin: 10px 0px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.489);
}

.edit-profile {
    width: 200px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    font-size: 16px;
    padding: 5px 0px;
    margin-top: 15px;
    background: linear-gradient(345deg,rgba(50,104,168,1) 0%, rgba(105,200,215,1) 36%, rgba(35,254,225,1) 98%);
    border: none;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    outline: none;
}

.edit-profile:hover {
    cursor: pointer;
    background: linear-gradient(345deg,rgba(35,254,225,1) 0%, rgb(123, 204, 216) 36%, rgb(102, 255, 235) 98%);
}